<nav class="nav-extended light-blue darken-4 z-depth-5">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo orange-text" style="padding-left: 10px; padding-top: 8px;"><img src="../../assets/images/LSNJBBLogo.jpg"
        alt="LSNJ BigBrother" /></a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li style="padding-right: 10px;"><a class="waves-effect waves-light btn red" href="mailto:reodice@lsnj.org?subject=BigBrother Website Help Request">Help!</a></li>
    </ul>
  </div>
  <div class="nav-content">
    <ul class="tabs tabs-transparent">
      <li class="tab"><a routerLink="home" routerLinkActive="yellow-text"><strong>Home</strong></a></li>
      <li class="tab"><a routerLink="users" routerLinkActive="yellow-text"><strong>Users</strong></a></li>
      <li class="tab"><a routerLink="machines" routerLinkActive="yellow-text"><strong>Machines</strong></a></li>
      <li class="tab"><a routerLink="calls" routerLinkActive="yellow-text"><strong>Calls</strong></a></li>
      <li class="tab"><a routerLink="vpns" routerLinkActive="yellow-text"><strong>VPNs</strong></a></li>
      <li class="tab"><a routerLink="logins" routerLinkActive="yellow-text"><strong>Logins</strong></a></li>
      <li class="tab"><a routerLink="helpdesk" routerLinkActive="yellow-text"><strong>Helpdesk</strong></a></li>
    </ul>
  </div>
</nav>
